.truck-container {
  position: absolute;
}

.truck {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #505050;
}

.truck-info {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #505050;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: block;
}

.truck-info div {
  margin: 4px 0;
}

.status-loading {
  background-color: #FF8C00;
}

.status-hauling {
  background-color: #28A745;
}

.status-dumping {
  background-color: #007BFF;
}

.status-idle {
  background-color: #6C757D;
}